/* * {
  padding: 0;
  margin: 0;
} */

body {
  background-color: #f7e8f0;
}

.wordForm {
  text-align: center;
  font-size: xx-large;
}

.bulb-icon {
  color: palevioletred;
  background-color: #f7e8f0;
  border: none;
}

.inputWord {
  background-color: #f7e8f0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  text-align: center;
  display: inline-block;
  margin: 3% 0 2%;
}

/* removes outline from textbozx after the user clicks on it */
.inputWord:focus {
  outline: none;
}

.rhymeCard {
  cursor: pointer;
  display: block;
  background-color: #ffe0ac;
  margin: 5% 2% 2% 5%;
  text-align: center;
  font-size: 1.2em;
  border-radius: 15px;
  padding: 15px;
  width: 200px;
}

.rhymeCard:hover {
  background-color: #ffacb7;
}

.heading {
  text-align: center;
  font-family: "Parisienne", cursive;
  font-size: x-large;
}

.navbar-greeting {
  color: white;
  margin: 0 2em 0 2em;
  font-family: "Dancing Script", cursive;
}

.svg-imgs {
  width: 40px;
  height: 30px;
}

.svg-imgs-div {
  display: inline-block;
  width: 40px;
  height: 30px;
}

.nav-text-beside-svg {
  display: inline;
  position: relative;
  bottom: 0.5em;
}

.heading-text {
  display: inline;
}

.custom-nav-style {
  background-color: #1a1c20;
}

/******* NEW POETRY COMPONENT ******/

.new-poetry-heading {
  text-align: center;
  font-family: "Arapey", serif;
}

.new-poetry-form {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.new-poetry-form-title {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  border: hidden;
  background-color: white !important;
}

/* removes outline from textbozx after the user clicks on it */
.new-poetry-form-title:focus {
  outline: none !important;
  box-shadow: none;
}

.new-poetry-form-content {
  border: hidden;
  margin: 2% 0;
  background-color: white !important;
}

.new-poetry-form-content:focus {
  outline: none !important;
  box-shadow: none;
}

/*********************************/

/*********** POEM CARD ***********/

.poem-card {
  width: 50%;
  margin: auto 50% 2em 25%;
  text-align: center;
}

.poem-card-title{
  text-align: center;
}

.poem-card-textarea {
  background-color: #f7e8f0;
  text-align: center;
  width: 60%;
  font-size: large;
  resize: none;
  overflow: hidden;
  border: none;
}


.poem-card-buttons-edit {
  background-color: pink;
  float: left;
}

.poem-card-buttons-publish {
  background-color: pink;
  float: right;
}

/*********************************/

.show-published-poetry-poet-name {
  float: right;
}
